@model IEnumerable<EventManager.Models.EventViewModel>
@using EventManager.Variables

@{
    ViewBag.Title = "Index";
}



<div class="container" style="margin-top:5%;display: flex;display: -webkit-flex;display:-moz-flex;flex-flow: row wrap;-webkit-flex-flow: row wrap;-moz-flex-flow: row wrap;">
    @foreach (var item in Model)
    {
        <div class="card" style="width:20em">
            <img class="card-img-top" style="width:17em;height:15em;" src=@Url.Content(item.Images.Last().Link) col alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" id="Name"> @Html.DisplayFor(modelItem => item.Name)</h5>
                @Html.DisplayFor(modelItem => item.Owner.FirstName)
                @Html.DisplayFor(modelItem => item.Owner.LastName)
                <p class="card-text" id="ShortDescription">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
            </div>
            <div class="card-body">
                @if (StaticVariables.CurrentUser != null)
                {
                    @Html.ActionLink("Подробнее ", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    if (StaticVariables.CurrentUser.Id == item.UserId)
                    {
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                }
            </div>
        </div>
    }
</div>


